/* Tutor Request and Mentor Login CSS files integrated in one css file */

@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  background: #f1f1f1;
  padding: 0 10px;
  font-family: "Raleway", sans-serif;
}

form {
  max-width: 500px;
  border: 3px solid #58355E;
  margin: 90px auto;
  padding: 30px;
  border-radius: 20px;
}
input[type=text], input[type=password],input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.container .button {
  background-color: #58355E;
  align-self: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

.container {
  padding: 20px;
}
.container input {
      border-radius: 15px;
}
.container a {
  font-family: "Raleway", sans-serif;
}
.container .custom_select {
  font-family: "Raleway", sans-serif;
}
.container .name {
  font-family: "Raleway", sans-serif;
  border-radius: 15px;
}
.title{
  text-align: center;
}
.custom_select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
}
